version: 2.1

jobs:
  install-tools:
    resource_class: medium
    docker:
      - image: cimg/android:2021.10.1-ndk
    steps:
      - run:
          name: Verify if tools are available
          command: |
            which brew || true
            which bundletool || true
      - run:
          name: Install brew (on Linux)
          command: |
            # See https://docs.brew.sh/Homebrew-on-Linux
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
            # test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
            # test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
            # test -r ~/.bash_profile && echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bash_profile
            # echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.profile
            echo "export PATH=/home/linuxbrew/.linuxbrew/bin:$PATH" >> $BASH_ENV
            
            which brew
      - run:
          name: Verify brew installed
          command: |
            brew --version  
 
workflows:
  main:
    jobs:
      - install-tools
